<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div id="container">
        <header>
            <div class="header-container">
                <div class="header-left-container">
                    <div class="nav-menu-button">
                        <img class="nav-menu-button-link" src="/static/images/btn_menu.png" alt="메뉴">
                    </div>
                    <div class="main-site-logo">
                        <div class="site-logo">JOSUN HOTELS & RESORTS</div>
                    </div>
                    <div class="find-hotel-button">
                        <div class="find-button">호텔찾기
                            <img src="/static/images/btn_find.png" alt="더보기">
                        </div>
                    </div>
                </div>
                <div class="header-right-container">
                    <ul>
                        <li><a class="header-login-button" href="">로그인</a></li>
                        <li><a class="header-regist-button" href="">회원가입</a></li>
                        <li><a class="header-reserve-button" href="">예약확인</a></li>
                    </ul>
                </div>
            </div>
            <nav class="nav-invisible">
                <div class="site-nav-button">
                    <div class="menu-button">MY PAGE</div>
                    <a class="site-nav-child-button" href="">MY PAGE</a>
                    <a class="site-nav-child-button" href="">MY POINT</a>
                    <a class="site-nav-child-button" href="">MY COUPON</a>
                    <a class="site-nav-child-button" href="">예약확인</a>
                    <a class="site-nav-child-button" href="">관심리스트</a>
                    <a class="site-nav-child-button" href="">개인정보관리</a>
                    <div class="menu-button-n">CUSTOMER SERVICE</div>
                    <a class="site-nav-child-button" href="">Q&A</a>
                    <a class="site-nav-child-button" href="">FAQ</a>
                    <a class="site-nav-child-button" href="">GIFT CARD</a>
                </div>
            </nav>
            <script src="/static/js/header/header.js"></script>
        </header>
        <main>
            <div class="main-container">
                <div class="background">
                    <section class="mainFlex">
                        <div class="mainB1">
                            <img src="/static/images/main1.png" alt="메인 이미지1">
                        </div>
                        <div class="mainB2">
                            <img src="/static/images/main2.png" alt="메인 이미지2">
                        </div>
                    </section>
                </div>
                <div class="contents">
                    <div class="mainTxt">
                        <strong>Experience the Difference</strong>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            
        </footer>
    </div>
</body>
</html>