.topArea {
    display: table;
    position: relative;

    width: 1400px;
    margin: 0 auto;
}

.topInner {
    padding: 97px 0px 10px;
}

.titDep1 {
    font: 500 50px playfair;
    font-family:'Times New Roman', Times, serif;
}

.inner {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    padding-bottom: 180px;
}

.titDep2 {
    margin-bottom: 15px;

    font-size: 25px;
    font-weight: 500;
}

.frmBox {
    display: table;
    width: 100%;
    padding-top: 20px;
}

.userInfo {
    display: table-cell;
    width: 300px;

    padding: 50px 35px;

    background-color: #f9f9f9;
    vertical-align: top;
}

.frmInfo {
    display: table-cell;
    padding-left: 50px;
}

.intWrap {
    font-weight: bold;
    font-size: 12px;
}

.intWrap .tit {
    display: inline-block;
    position: relative;
}

.intList {
    margin-bottom: 20px;
}

.intList li.error label {
    color: #b01414;
}

.intList li.tit label {
    display: inline-block;
}

.intList li, .intInner span {
    position: relative;
    display: inline-block;
}

.intArea {
    width: 515px;
}

input[type=text], input[type=password] {
    height: 60px;
    padding: 8px 13px 8px 0;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;

    font-size: 17px;
}

.duobuleInp span:nth-child(2) {
    margin-left: 14px;
}

.tit {
    margin-top: 30px;
}

.intInner button {
    margin-left: 20px;
    padding: 0 25px;

    min-width: 160px;
    height: 50px;
    line-height: 48px;

    font-size: 15px;
}

.txtGuide {
    margin: 8px 0px;

    position: relative;

    color: rgb(69, 69, 69);
    font: 13px playfair;
}

li.intList-repwd {
    position: absolute;
    right: 0;
}

.btnArea {
    text-align: center;
    margin-top: 70px;
}

.btnArea button {
    margin: 0 10px;
}

.btnL {
    min-width: 190px;
    height: 60px;
    padding: 0 25px;
    line-height: 58px;

    font-size: 18px;
    letter-spacing: -.01em;
}

.active {
    background-color: black;
    color: white;
}

.active:hover {
    background-color: white;
    color: black;
}