<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약화면</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bookingInfo.css">
</head>
<body>
    <div id="container">
        <header>
            <div class="header-container">
                <div class="header-left-container">
                    <div class="nav-menu-button">
                        <img class="nav-menu-button-link" src="/static/images/btn_menu.png" alt="메뉴">
                    </div>
                    <div class="main-site-logo">
                        <div class="site-logo">JOSUN HOTELS & RESORTS</div>
                    </div>
                    <div class="find-hotel-button">
                        <div class="find-button">호텔찾기
                            <img src="/static/images/btn_find.png" alt="더보기">
                        </div>
                    </div>
                </div>
                <div class="header-right-container">
                    <ul>
                        <li><a class="header-login-button" href="/account/login">로그인</a></li>
                        <li><a class="header-regist-button" href="/account/register">회원가입</a></li>
                        <li><a class="header-reserve-button" href="">예약확인</a></li>
                        <button type="button" class="reserveBtn">
                            <a href="/booking/booking">RESERVE</a>
                        </button>
                    </ul>
                </div>
            </div>
            <nav class="nav-invisible">
                <div class="site-nav-button">
                    <div class="menu-button">MY PAGE</div>
                    <a class="site-nav-child-button" href="">MY PAGE</a>
                    <a class="site-nav-child-button" href="">MY POINT</a>
                    <a class="site-nav-child-button" href="">MY COUPON</a>
                    <a class="site-nav-child-button" href="">예약확인</a>
                    <a class="site-nav-child-button" href="">관심리스트</a>
                    <a class="site-nav-child-button" href="">개인정보관리</a>
                    <div class="menu-button-n">CUSTOMER SERVICE</div>
                    <a class="site-nav-child-button" href="">Q&A</a>
                    <a class="site-nav-child-button" href="">FAQ</a>
                    <a class="site-nav-child-button" href="">GIFT CARD</a>
                </div>
            </nav>
            <script src="/static/js/header/header.js"></script>
        </header>
        <main>
            <div class="topArea">
                <div class="topInner">
                    <h2 class="titDep1">BOOKING</h2>
                </div>
                <div class="inner">
                    <div class="rsvRoom">
                        <div class="cont">
                            <h2 class="titDep2">SMART CHOICE</h2>
                            <p class="categoryTxt">DELUXE / 2DOUBLE / STANDARD VIEW</p>
                            <ul class="intList">
                                <li>
                                    <div class="intWrap">
                                        <span class="tit">
                                            <label for="gender01">GENDER*</label>
                                        </span>
                                    </div>
                                    <div class="intInner">
                                        <div class="intArea">
                                            <div class="intBox">
                                                <span class="frm">
                                                    <input type="radio" id="gender1">
                                                    <label for="gender1">MALE</label>
                                                </span>
                                                <span class="frm">
                                                    <input type="radio" id="gender1">
                                                    <label for="gender1">FEMALE</label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="intWrap">
                                        <span class="tit">
                                            <label for="kName">RESERVATION NAME*</label>
                                        </span>
                                    </div>
                                    <div class="intInner">
                                        <span class="intArea">
                                            <input type="text" class="serve" id="korname" placeholder="성함(국문)을 입력해주세요.">
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="intWrap">
                                        <span class="tit">
                                            <label for="kname">ENGLISH NAME*</label>
                                        </span>
                                    </div>
                                    <div class="intInner">
                                        <span class="intArea">
                                            <input type="text" class="serve" id="lastName" placeholder="Family Name(성)">
                                            <input type="text" class="serve" id="firstName" placeholder="First Name(이름)">
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="intWrap">
                                        <span class="tit">
                                            <label for="phone">PHONE NUMBER*</label>
                                        </span>
                                    </div>
                                    <div class="intInner phoneInp">
                                        <span class="intArea">
                                            <input type="text" class="serveNum" id="phoneNumber" placeholder="010">
                                        </span>
                                        <span class="dash">ㅡ</span>
                                        <span class="intArea">
                                            <input type="text" class="serveNum" id="phoneNumber">
                                        </span>
                                        <span class="dash">ㅡ</span>
                                        <span class="intArea">
                                            <input type="text" class="serveNum" id="phoneNumber">
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="rCont">
                            <ul class="toggleList">
                                <li class="toggleOn">
                                    <strong class="listTit">
                                        객실1
                                        <span class="price">
                                            <em>407,000</em>
                                            KRW
                                        </span>
                                    </strong>
                                    <div class="toggleCount">
                                        <div class="toggleInner">
                                            <div class="designScroll">
                                                <div class="optionTotal">
                                                    <ul>
                                                       <li>
                                                          <span class="lfData">2022.11.19</span>
                                                          <span class="rfData">370,000</span>
                                                       </li> 
                                                    </ul>
                                                    <ul class="infoData">
                                                        <li>
                                                            <span class="lfData">세금</span>
                                                            <span class="rfData">37,000</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <div class="totalCount">
                                    <div class="totalPrice">
                                        <span class="txt">총 예약금액</span>
                                        <span class="subPrice">
                                            <em>407,0000</em>
                                            KRW
                                        </span>
                                    </div>
                                </div>
                                <div class="btnArea">
                                    <button type="button" class="btnSC">예약 완료</button>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            
        </footer>
    </div>
</body>
</html>