<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/booking.css">
</head>
<body>
    <div id="container">
        <header>
            <div class="header-container">
                <div class="header-left-container">
                    <div class="nav-menu-button">
                        <img class="nav-menu-button-link" src="/static/images/btn_menu.png" alt="메뉴">
                    </div>
                    <div class="main-site-logo">
                        <div class="site-logo">JOSUN HOTELS & RESORTS</div>
                    </div>
                    <div class="find-hotel-button">
                        <div class="find-button">호텔찾기
                            <img src="/static/images/btn_find.png" alt="더보기">
                        </div>
                    </div>
                </div>
                <div class="header-right-container">
                    <ul>
                        <li><a class="header-login-button" href="/account/login">로그인</a></li>
                        <li><a class="header-regist-button" href="/account/register">회원가입</a></li>
                        <li><a class="header-reserve-button" href="">예약확인</a></li>
                        <button type="button" class="reserveBtn">
                            <a href="/booking/booking">RESERVE</a>
                        </button>
                    </ul>
                </div>
            </div>
            <nav class="nav-invisible">
                <div class="site-nav-button">
                    <div class="menu-button">MY PAGE</div>
                    <a class="site-nav-child-button" href="">MY PAGE</a>
                    <a class="site-nav-child-button" href="">MY POINT</a>
                    <a class="site-nav-child-button" href="">MY COUPON</a>
                    <a class="site-nav-child-button" href="">예약확인</a>
                    <a class="site-nav-child-button" href="">관심리스트</a>
                    <a class="site-nav-child-button" href="">개인정보관리</a>
                    <div class="menu-button-n">CUSTOMER SERVICE</div>
                    <a class="site-nav-child-button" href="">Q&A</a>
                    <a class="site-nav-child-button" href="">FAQ</a>
                    <a class="site-nav-child-button" href="">GIFT CARD</a>
                </div>
            </nav>
            <script src="/static/js/header/header.js"></script>
        </header>
        <main>
            <div class="topArea">
                <div class="topInner">
                    <h2 class="titDep1">BOOKING</h2>
                </div>
                <div class="selResult">
                    <div class="intinner">
                        <div class="infoArea">
                            <dl class="dlType01">
                                <dt>HOTEL</dt>
                                <dd>그랜드 조선 제주</dd>
                            </dl>
                            <dl class="dlType02">
                                <a href="none">
                                    <dt>DATE</dt>
                                    <span class="date">
                                        2022.11.20&nbsp;
                                        <em>일</em>
                                        &nbsp;
                                        <span>-</span>
                                        &nbsp;2022.11.21&nbsp;
                                        <em>월</em>
                                    </span>
                                </a>
                                <!-- <div class="mainCalender" style="display:block">
                                    <div class="calContainer">
                                        <div class="ui-datepicker">
                                            <button disabled class="btnMonth" type="button">
                                                <span class="ui-con">Prev</span>
                                            </button>
                                            <strong class="calMonth">
                                                <span class="ui-datepicker-year">2022</span>
                                                .
                                                <span class="ui-datepicker-month">11</span>
                                            </strong>
                                        </div>
                                        <table class="calender">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="fRed">
                                                        <span title="Sunday">S</span>
                                                    </th>
                                                    <th scope="col" class="fRed">
                                                        <span title="Monday">M</span>
                                                    </th>
                                                    <th scope="col" class="fRed">
                                                        <span title="Tuesday">T</span>
                                                    </th>
                                                    <th scope="col" class="fRed">
                                                        <span title="Wednesday">W</span>
                                                    </th>
                                                    <th scope="col" class="fRed">
                                                        <span title="Thursday">T</span>
                                                    </th>
                                                    <th scope="col" class="fRed">
                                                        <span title="Friday">F</span>
                                                    </th>
                                                    <th scope="col" class="fRed">
                                                        <span title="Saturday">S</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="ui-datepicker-other-month">&nbsp;</td>
                                                    <td class="ui-datepicker-other-month">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> -->
                            </dl>
                            <dl class="dlType03">
                                <dt>ROOMS</dt>
                                <dd>1</dd>
                            </dl>
                            <dl class="dlType03">
                                <dt>ADULTS</dt>
                                <dd>2</dd>
                            </dl>
                            <dl class="dlType03">
                                <dt>CHILDREN</dt>
                                <dd>0</dd>
                            </dl>
                            <button type="button" class="btnReserve">객실 조회하기</button>
                        </div>
                    </div>
                </div>
                <div class="inner">
                    <div class="roomContainer">
                        <ul class="toggleList">
                            <li class="room1">
                                <dl class="roomIntro">
                                    <dt class="roomName">DELUXE TWIN, STANDARD VIEW</dt>
                                    <dd class="keyWord">
                                        <span>ROOM</span>
                                    </dd>
                                    <dd class="roomBenefit">Standard View | Size: 46.7㎡</dd>
                                    <dd class="priceWrap">
                                        <span class="price">
                                            370,000
                                            <em>KRW~</em>
                                        </span>
                                        <span class="day">1박 / 세금 별도</span>
                                    </dd>
                                    <dd class="thum">
                                        <img src="/static/images/room1.png" alt="방이미지">
                                    </dd>
                                    <button type="button" class="btnToggle">RESERVE</button>
                                </dl>
                            </li>
                            <li class="room2">
                                <dl class="roomIntro">
                                    <dt class="roomName">STUDIO SUITE TWIN</dt>
                                    <dd class="keyWord">
                                        <span>SUITE</span>
                                    </dd>
                                    <dd class="roomBenefit">Poolside View | Size: 95.1㎡</dd>
                                    <dd class="priceWrap">
                                        <span class="price">
                                            440,000
                                            <em>KRW~</em>
                                        </span>
                                        <span class="day">1박 / 세금 별도</span>
                                    </dd>
                                    <dd class="thum">
                                        <img src="/static/images/room2.png" alt="방이미지">
                                    </dd>
                                    <button type="button" class="btnToggle">RESERVE</button>
                                </dl>
                            </li>
                            <li class="room3">
                                <dl class="roomIntro">
                                    <dt class="roomName">HILL STUDIO SUITE TWIN, GARDEN VIEW</dt>
                                    <dd class="keyWord">
                                        <span>SUITE</span>
                                    </dd>
                                    <dd class="roomBenefit">Garden View | Size: 89㎡</dd>
                                    <dd class="priceWrap">
                                        <span class="price">
                                            600,000
                                            <em>KRW~</em>
                                        </span>
                                        <span class="day">1박 / 세금 별도</span>
                                    </dd>
                                    <dd class="thum">
                                        <img src="/static/images/room3.png" alt="방이미지">
                                    </dd>
                                    <button type="button" class="btnToggle">RESERVE</button>
                                </dl>
                            </li>
                            <li class="room4">
                                <dl class="roomIntro">
                                    <dt class="roomName">PRESTIGE HILL SUITE, OCEAN VIEW</dt>
                                    <dd class="keyWord">
                                        <span>HILL SUITE</span>
                                    </dd>
                                    <dd class="roomBenefit">Ocean View | Size: 193.1㎡</dd>
                                    <dd class="priceWrap">
                                        <span class="price">
                                            1,200,000
                                            <em>KRW~</em>
                                        </span>
                                        <span class="day">1박 / 세금 별도</span>
                                    </dd>
                                    <dd class="thum">
                                        <img src="/static/images/room4.png" alt="방이미지">
                                    </dd>
                                    <button type="button" class="btnToggle">RESERVE</button>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            
        </footer>
    </div>
    <script src="/static/js/booking/booking.js"></script>
</body>
</html>